<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    </sectionGroup> 
   <section name="ServiceProcesses"
				type="BHS.ProcessService.Config.ServiceProcessConfigHandler, BHS.ProcessService, Version=3.5.0.0, Culture=neutral, PublicKeyToken=11032c215c2193f2"
				allowLocation="true"
				allowDefinition="Everywhere" />
  </configSections>
  <spring>
    <context>
      <resource uri="C:\Program Files\Manhattan Associates\ILS\2010\Settings\Objects._Web.ILSIntegrationServices.xml" />
    </context>
  </spring>
  <appSettings>
    <!-- Frequency how often the process runs in seconds-->
    <add key="Sleep" value="5"/>
    <!-- Service Name-->
    <add key="ServiceName" value="BHSProcessService"/>
    <add key="Debug" value="Y"/>
	<add key="XSD Folder Path" value="C:\Program Files\Manhattan Associates\ILS\2010\Schemas\Web Services\" />  </appSettings>
 <runtime>
    <gcserver enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="_Custom;Client;Common;Managed Wrappers;Server;Toolbox;" />
      <qualifyAssembly partialName="System.Windows.Forms" fullName="System.Windows.Forms, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </assemblyBinding>
  </runtime>
  <ServiceProcesses>
    <ServiceProcess Name="MicroHold"  Assembly="C:\Program Files\Manhattan Associates\ILS\2010\_Custom\BHS.UWT.BLL.dll" Type="BHS.UWT.BLL.MicroHoldInventoryLocking"  Frequency="2" MaxError="5" ExcepFreq="300" Enviroment=""/>
</ServiceProcesses>
</configuration>